# Introduction to Python
1. How to check your Python version.
2. This Notebook file will introduce basics of Python 3. 
    1. Datatypes
    2. Variable declartion and assignment
    3. Datatype conversions
    4. Arthimetic Operators
    5. Logical Operators
    6. print and input fuctions
    7. Diffrence between Python2 and Python3

In [2]:
import platform
print(platform.python_version())
print(platform.sys.version)

3.5.5
3.5.5 |Anaconda, Inc.| (default, Apr  7 2018, 04:52:34) [MSC v.1900 64 bit (AMD64)]

In [87]:
import sys
print(sys.version)

3.7.0 (default, Jun 28 2018, 08:04:48) [MSC v.1912 64 bit (AMD64)]

### Comments in Python
1. Single line comment starts with #
2. '''Mulltiple line comment enclosed with '''

In [88]:
# a comment is a programmer-readable explanation

In [89]:
# Creating a variable a and assigning value 10
a = 10
print(a)
a

10

10

#### The following identifiers are used as reserved words, or keywords of the language, and cannot be used as ordinary identifiers(variables)
<pre>
False      await      else       import     pass
None       break      except     in         raise
True       class      finally    is         return
and        continue   for        lambda     try
as         def        from       nonlocal   while
assert     del        global     not        with
async      elif       if         or         yield
<pre

In [90]:
# overwriting variable a with another value 20
a = 20
a

20

In [91]:
# checking which type of data is stored in variable a
print('variable a is of ',type(a))

variable a is of  <class 'int'>

In [92]:
# check the types of different values
print(2,type(2))
print('hello is',type('hello'))
print(23.76,'is',type(23.76))
print(True,'is',type(True))

2 <class 'int'>
hello is <class 'str'>
23.76 is <class 'float'>
True is <class 'bool'>

In [93]:
# overwriting variable a with other type value 20.23
a = 20.23
print(type(a))

<class 'float'>

In [94]:
# Creating different type of values with different varibles
i = 20
print(i,type(i))
f = 3.14
print(f,type(f))
s = "python"
print(s,type(s))
b = True
print(b,type(b))

20 <class 'int'>
3.14 <class 'float'>
python <class 'str'>
True <class 'bool'>

**Strings should be enclosed in single quotes or double quotes or triple quotes**

In [95]:
single_quoted_string = 'Python'
double_quoted_string = "Python"
triple_quoted_string = '''Python'''
triple_double_quoted_string = """Python"""
print(single_quoted_string,double_quoted_string,triple_quoted_string,triple_double_quoted_string)
print(type(single_quoted_string),type(double_quoted_string),type(triple_quoted_string)\
      ,type(triple_double_quoted_string))

Python Python Python Python
<class 'str'> <class 'str'> <class 'str'> <class 'str'>

In [96]:
#string_with_single_quote = 'I don't  
# Uncomment above line and run it. Observe the syntax error
string_with_single_quote = "I don't"
print(string_with_single_quote)
string_with_single_quote = '''I don't'''
print(string_with_single_quote)

I don't
I don't

<pre>In Python strings the backslash "\" is a special character, also called the "escape" character.
n triple-quoted literals, unescaped newlines and quotes are allowed (and are retained), except that three unescaped quotes in a row terminate the literal. (A “quote” is the character used to open the literal, i.e. either ' or ".)

Unless an 'r' or 'R' prefix is present, escape sequences in string and bytes literals are interpreted according to rules similar to those used by Standard C. The recognized escape sequences are:

Escape Sequence	Meaning
\newline	Backslash and newline ignored	 
\\	Backslash (\)	 
\'	Single quote (')	 
\"	Double quote (")	 
\a	ASCII Bell (BEL)	 
\b	ASCII Backspace (BS)	 
\f	ASCII Formfeed (FF)	 
\n	ASCII Linefeed (LF)	 
\r	ASCII Carriage Return (CR)	 
\t	ASCII Horizontal Tab (TAB)	 
\v	ASCII Vertical Tab (VT)	 
\ooo	Character with octal value ooo	(1,3)
\xhh	Character with hex value hh	(2,3)
Escape sequences only recognized in string literals are:</pre>

In [97]:
string_with_single_quote = 'I don\'t' 
print(string_with_single_quote)

I don't

In [98]:
multiline_string = '''first line
Second line
Third line
Fourth line'''
print(multiline_string)

first line
Second line
Third line
Fourth line

In [99]:
# In the variable enter will be stored as \n
multiline_string

'first line\nSecond line\nThird line\nFourth line'

In [100]:
string_with_enter = 'check\ncheck2\ttabspace'
print(string_with_enter)

check
check2	tabspace

In [101]:
# Any value enclosed in single double or triple quotes considered as string
print("'h'",'is',type('h'))
print("'2'",'is',type('2'))
print("'5324.5476'",'is',type('5324.5476'))
print("'True'",'is',type('True'))

'h' is <class 'str'>
'2' is <class 'str'>
'5324.5476' is <class 'str'>
'True' is <class 'str'>

In [102]:
# value type conversions
a = int(34.78)
print(a,type(a))
b = float(34)
print(b,type(b))
s = str('34.78')
print(s,type(s))

34 <class 'int'>
34.0 <class 'float'>
34.78 <class 'str'>

In [103]:
# bool function will return true for input other than zero
t = bool(20)
print(t,type(t))
t1 = bool('False')
print(t1,type(t1))
t2 = bool('0')
print(t2,type(t2))
t3 = bool(0)
print(t3,type(t3))

True <class 'bool'>
True <class 'bool'>
True <class 'bool'>
False <class 'bool'>

In [104]:
# Arithmetic operators on integer type values
a = 20 + 30 # Addition
print(a)  
s = 20 - 30 # Subtraction
print(s)
m = 2 * 3   # Multiplication
print(m)
d = 5 / 2   # Flaoting point Division
print(d)
fd =5 // 2  # Floor Division
print(fd)
r = 7 % 2   # Modulo opertor - gives remainder
print(r)

50
-10
6
2.5
2
1

In [105]:
# Arithmetic operators With negative values
m = (-2) * 3   # Multiplication
print(m)
d = (-5) / 2   # Flaoting point Division
print(d)
fd = (-5) // 2  # Floor Division
print(fd)
r = (-7) % 2   # Modulo opertor - gives remainder
print(r)

-6
-2.5
-3
1

In [107]:
# Arithmetic operators on float type values
a = 20.72 + 30.28 # Addition
print(a)  
s = 20.72 - 30.70 # Subtraction
print(s)
m = 2.5 * 2   # Multiplication
print(m)
d = 5.5 / 2   # Flaoting point Division
print(d)
fd =5.5 // 2  # Floor Division
print(fd)
r = 7.5 % 2   # Modulo opertor - gives remainder
print(r)

51.0
-9.98
5.0
2.75
2.0
1.5

In [4]:
# Arithmetic operators on string type values
a = '20.72' + '30.28' # Addition on strings will give concatenation ouput 
print(a)  
# Uncomment below lines and check one by one 
s = '20.72' - '30.70' # Subtraction
print(s)
m = '2.5' * '2'   # Multiplication
print(m)
#d = '5.5' / '2'   # Flaoting point Division
#print(d)
#fd ='5.5' // '2'  # Floor Division
#print(fd)
#r = '7.5' % '2'   # Modulo opertor - gives remainder
#print(r)

20.7230.28

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [116]:
# Arithmetic operators on bool type values
print('True + True',True + True)
print('True + False',True + False)
print('False + False',False + False)

True + True 2
True + False 1
False + False 0

In [117]:
print('True - True',True - True)
print('True - False',True - False)
print('False - False',False - False)
print('False - True',False - True)

True - True 0
True - False 1
False - False 0
False - True -1

In [118]:
print('True * True',True * True)
print('True * False',True * False)
print('False * False',False * False)
print('False * True',False * True)

True * True 1
True * False 0
False * False 0
False * True 0

In [121]:
print('True / True',True / True)
#print('True / False',True / False) # division by zero not possible
#print('False / False',False / False)
print('False / True',False / True)

True / True 1.0
False / True 0.0

In [124]:
print('True // True',True // True)
#print('True // False',True // False) 
#print('False // False',False // False)
print('False // True',False // True)

True // True 1
False // True 0

In [128]:
print('True % True',True % True)
#print('True % False',True % False) 
#print('False % False',False % False)
print('False % True',False % True)

True % True 0
False % True 0

#### References
https://docs.python.org/3/reference/lexical_analysis.html